<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" th:href="@{/static/main.css}">
</head>
<body>
<div class="auth_welcome">
    <h1>Welcome! Please fill out the form</h1>
</div>
<div class="auth_form">
    <form th:action="@{/api/v1/auth}" method="post" th:object="${user}">
        <table border="1">
            <tr class="auth_string">
                <td>Name</td>
                <td><input class="auth_text_input" type="text" name="*{username}" placeholder="Enter name" /></td>
            </tr>
            <tr class="auth_string">
                <td>Surname</td>
                <td><input class="auth_text_input" type="text" name="*{surname}" placeholder="Enter surname" /></td>
            </tr>
            <tr class="auth_string">
                <td>Email</td>
                <td><input class="auth_text_input" type="email" name="*{email}" placeholder="Enter email" /></td>
            </tr>
            <tr class="auth_string">
                <td>Phone</td>
                <td><input class="auth_text_input" type="tel" name="*{phone}" placeholder="Enter phone number" /></td>
            </tr>
            <tr class="auth_string">
                <td>Password</td>
                <td><input class="auth_text_input" type="password" name="*{password}" placeholder="Enter Password" /></td>
            </tr>
        </table>
        <button type="submit" class="auth_button">Sign Up</button>
    </form>

    <div class="enter_sign">
        <h1 style="font-weight: 700; font-size: 32px; width: 200px; white-space: nowrap;">You Are Authenticated?</h1>
        <a class="sign_auth" th:href="@{/Log.html}">Log In</a>
    </div>
    <p style="color: #fff;">.</p>
</div>

<script th:src="@{/static/main.js}"></script>
</body>
</html>
