<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
// потом все поправлю код не совсем готов
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&M New Cars</title>
    <link rel="stylesheet" href="D&M.css">
</head>
<body>
<header class="header">
    <div class="container">
        <img src="/Images/Vector.png" alt="" class="logo">

        <ul class="active">
            <li><a class="new_car underline" href="#">NEW CARS</a></li>
            <li><a class="underline" href="#">PRE-OWNED CARS</a></li>
            <li><a class="underline" href="#">FINANCE</a></li>
            <li><a class="underline" href="#">LEASE VS BUY</a></li>
            <li><a class="underline" href="#">CONTACT US</a></li>
        </ul>
    </div>
</header>

<main class="main-2">
    <h1 class="title-8">Choose your car</h1>
    <div class="text_cars">
        <li> <a class="blue_text underline" href="#">Car and Minivan</a></li>
        <li><a class="cars_btn-1 underline" href="#">Trucks</a></li>
        <li><a class="cars_btn-1 underline" href="#">Crossovers & SUVs</a></li>
        <li><a class="cars_btn-1 underline" href="#">Electrified</a></li>
    </div>
</main>

<section class="cars_cards_1-4">

    <div class="cars_card">
        <div>
            <img src="/Images/crown.png" alt="">
            <h1 class="c-title">Toyota Crown 2023</h1>
            <p class="c-text">starting from $ 39900</p>
            <h1 class="c-price">$ 650/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/pirus prime.png" alt="">
            <h1 class="c-title">Prius Prime 2023</h1>
            <p class="c-text">starting from $ 39900</p>
            <h1 class="c-price"> $ 450/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/toyota pirus.png" alt="">
            <h1 class="c-title">Toyota Prius 2023</h1>
            <p class="c-text">starting from $ 39900</p>
            <h1 class="c-price"> $ 400/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/kona.png" alt="">
            <h1 class="c-title">Hyundai Kona 2023</h1>
            <p class="c-text">starting from $ 39900</p>
            <h1 class="c-price">$510/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

</section>

<section class="cars_cards_2-4">

    <div class="cars_card">
        <div>
            <img src="/Images/ford.png" alt="">
            <h1 class="c-title">Ford Explorer 2023</h1>
            <p class="c-text">starting from $ 39900</p>
            <h1 class="c-price">$1,013/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/santa fe.png" alt="">
            <h1 class="c-title">Santa  Fe 2023</h1>
            <p class="c-text">starting from $ 39900</p>
            <h1 class="c-price">$739/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/kia.png" alt="">
            <h1 class="c-title">KIA Niro 2023</h1>
            <p class="c-text">starting from $ 33600</p>
            <h1 class="c-price">$554/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/silverado.png" alt="">
            <h1 class="c-title">Chevrolet Silverado</h1>
            <p class="c-text">starting from $ 62260</p>
            <h1 class="c-price">$1,032/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

</section>

<section class="cars_cards_3-4">

    <div class="cars_card">
        <div>
            <img src="/Images/honda.png" alt="">
            <h1 class="c-title">Honda CR-V 2023</h1>
            <p class="c-text">starting from $ 35650</p>
            <h1 class="c-price">$591/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/tucson.png" alt="">
            <h1 class="c-title">Hyundai Tucson</h1>
            <p class="c-text">starting from $ 31885</p>
            <h1 class="c-price">$528/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/Equinox.png" alt="">
            <h1 class="c-title">Chevrolet Equinox </h1>
            <p class="c-text">starting from $ 28430</p>
            <h1 class="c-price">$471/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

    <div class="cars_card">
        <div>
            <img src="/Images/wrangler.png" alt="">
            <h1 class="c-title">Jeep Wrangler 2023</h1>
            <p class="c-text">starting from $ 60000</p>
            <h1 class="c-price">$997/mo</h1>
        </div>
        <div class="c-blue">
            <li><a class="c-b" href="#">see details</a></li>
        </div>
    </div>

</section>


<li><a class="btn-5" href="#">SHOW MORE</a></li>

<section class="botom">
    <div class="l-botom">
        <div class="b-1">
            <img src="/Images/c-picture-1.png" alt="">
            <div class="b-title_more-1">
                <h1 class="b-title">An easier way to buy your next Toyota</h1>
                <a class="blue_more" href="#">more</a>
            </div>
        </div>
    </div>

    <div class="l-botom">
        <div class="b-1">
            <img src="/Images/c-picture-2.png" alt="">
            <div class="b-title_more-1">
                <h1 class="b-title">A Guide to Road-Tripping With Pets</h1>
                <a class="blue_more-2" href="#">more</a>
            </div>
        </div>
    </div>
</section>

<li><a class="btn-5" href="#">SHOW MORE</a></li>

<footer class="footer">
    <div class="foot">
        <div class="footer_text">
            <ul class="footer_active">
                <h1 class="food_title">Products</h1>
                <li class="footer_button"><a href="#">Used</a></li>
                <li class="footer_button"><a href="#">New</a></li>
                <li class="footer_button"><a href="#">Sell your car</a></li>
            </ul>
            <ul class="footer_active-2">
                <h2 class="food_title">Resources</h2>
                <li class="footer_button"><a href="#">Blog</a></li>
                <li class="footer_button"><a href="#">FAQ</a></li>
                <li class="footer_button"><a href="#">Contact us</a></li>
            </ul>
            <ul class="footer_active-3">
                <h3 class="food_title-2">Work With TrueCar</h3>
                <li class="footer_button"><a href="#">Dealers</a></li>
                <li class="footer_button"><a href="#">Partners</a></li>
            </ul>
            <ul class="footer_active-4">
                <h4 class="food_title">About</h4>
                <li class="footer_button"><a href="#">About us</a></li>
                <li class="footer_button"><a href="#">Team</a></li>
                <li class="footer_button"><a href="#">Careers</a></li>
            </ul>
        </div>
    </div>

    <div class="googles">
        <img src="/Images/app-store-5768091a665de29ed90932b12cc1dc34 1.png" alt="" class="logo-2">
        <img src="/Images/google-play-1b282a5faa8753db97e49dd35e98dd25 1.png" alt="" class="logo-2">
    </div>
    <div class="googles_text">
        <img src="/Images/text-1.png" alt="" class="footer_text-2">
    </div>
    <div class="footer_text-3">
        <h5 class="ft"><a href="#">Terms of Service</a></h5>
        <h5 class="ft"><a href="#">Privacy Policy</a></h5>
        <h5 class="ft"><a href="#">Do Not Sell My Personal Information</a></h5>
    </div>
</footer>
</body>
</html>
</body>
</html>