<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/static/main.css}">
</head>
<body>
<div class="auth_welcome">
    <h1>Welcome! Please fill out the form</h1>
</div>
<div class="auth_form">
    <form th:action="@{/api/v1/log}" method="post" th:object="${user}">
        <table border="1">
            <tr class="auth_string">
                <td>Username</td>
                <td><input class="auth_text_input" type="text" name="*{username}" placeholder="Enter name" /></td>
            </tr>
            <tr class="auth_string">
                <td>Surname</td>
                <td><input class="auth_text_input" type="text" name="*{surname}" placeholder="Enter surname" /></td>
            </tr>
            <tr class="auth_string">
                <td>Email</td>
                <td><input class="auth_text_input" type="email" name="*{email}" placeholder="Enter email" /></td>
            </tr>
            <tr class="auth_string">
                <td>Phone</td>
                <td><input class="auth_text_input" type="tel" name="*{phone}" placeholder="Enter phone number" /></td>
            </tr>
            <tr class="auth_string">
                <td>Password</td>
                <td><input class="auth_text_input" type="password" name="*{password}" placeholder="Enter Password" /></td>
            </tr>
        </table>
        <button type="submit" class="auth_button">Log In</button>
    </form>
</div>

<p style="color: #fff;">.</p>
<script th:src="@{/static/main.js}"></script>
</body>
</html>
